<section id="step-select" class="step-select hidden">
    <header>
        <h1>
            <img src="/assets/img/images/playita.png" alt="PlaYA! Logo">
            <span>Subir</span>
        </h1>
        <button id="close-btn" class="close"><img src="/assets/icons/close.svg" alt="Close"></button>
    </header>
    <div class="progress">
        <img src="/assets/img/images/cloud-upload.png" alt="Pocent Subida">
        <span>0% de subidas usado</span>
        <div class="progress-bar">
            <div class="progress-fill" style="width: 0%;"></div>
        </div>
        <span>0 de 20 canciones</span>
        <button class="btn-improve">Mejorar</button>
    </div>


    <h2>Sube tus archivos de audio</h2>
    <p>Para obtener la mejor calidad, utiliza WAV, FLAC, AIFF o ALAC. El tamaño máximo del archivo es de 6 GB sin
        comprimir.
    </p>
    <div class="drop-area">
        <img src="/assets/img/images/cloud-upload2.png" alt="Subida">
        <p>Arrastra y suelta archivos de audio para empezar</p>
        <button class="btn-choose">Elegir archivos</button>
    </div>
    <div class="buttom-bellow">
        <button id="canceled-btn" class="button">Cancelar</button>
        <button id="next-btn" class="button">Continuar</button>
    </div>
</section>





<!---
<section id="unload-step-2" class="subir-music hidden">
    <h1>Subida de Archivos de Audio</h1>
    <h2>Confirma tu archivo seleccionado</h2>
    <div class="instructions">
        <p>Revisa tu archivo y asegúrate de que sea correcto.</p>
    </div>

    <div class="file-preview">
        <p><strong>Vista previa del archivo:</strong></p>
        <p>Nombre del archivo: nombre_del_archivo.mp3</p>
        <p>Tamaño del archivo: 5 MB</p>
    </div>

    <div class="buttons">
        <button class="button upload-button">Subir</button>
        <button class="button cancel-button">Cancelar</button>
    </div>
</section>

<section id="unload-step-3" class="subir-music hidden">
    <h2>Subiendo tu canción...</h2>
    <div class="progress-bar">
        <div class="progress-fill" style="width: 0%;">
        </div>
    </div>
    <p>Por favor, espera mientras se completa la subida.</p>
</section>

-->