<section id="step-progress" class="step-progress hidden">
    <!-- Paso 5: Carga y finalización -->
     <header>
        <h1>
            <img src="/assets/img/images/playita.png" alt="logo">
            <span>Carga y Finalización</span>
        </h1>
        <button id="close-btn" class="close"><img src="/assets/icons/close.svg" alt="Close"></button>
     </header>
    
    <div class="progress-bar" style="width: 70%;">70%</div>
    <p>Loading... Cargando archivo...</p>
    <p>Procesando metadatos...</p>
    <p>¡Subida exitosa!</p>
    <div class="buttom-bellow">
        <button id="back-btn" class="button">Ver Canción</button>
        <button id="go-library-btn" class="button">Volver a la Biblioteca</button>
    </div>
</section>