<section id="step-details" class="step-details hidden">
    <!-- Paso 2: Información de la canción -->
    <h2>Información de la Canción</h2>
    <div class="input-group">
        <label for="titulo">Título</label>
        <input type="text" id="titulo">
    </div>
    <div class="input-group">
        <label for="artista">Artista</label>
        <input type="text" id="artista">
    </div>
    <div class="input-group">
        <label for="album">Álbum</label>
        <input type="text" id="album">
    </div>
    <div class="input-group">
        <label for="tags">Etiquetas</label>
        <input type="text" id="tags" placeholder="Agrega etiquetas">
    </div>
    <div class="input-group">
        <label for="genero">Género</label>
        <select id="genero">
            <option value="rock">Rock</option>
            <option value="pop">Pop</option>
            <option value="hip-hop">Hip-Hop</option>
            <option value="jazz">Jazz</option>
        </select>
    </div>
    <div class="input-group">
        <label for="cover">Portada</label>
        <input type="file" id="cover" accept="image/*">
    </div>
    <div class="input-group">
        <label for="descripcion">Descripción / Letra</label>
        <textarea id="descripcion" rows="4"></textarea>
    </div>
    <div class="button-bellow">
        <button id="back-btn" class="button">Volver</button>
        <button id="next-btn" class="button">Siguiente</button>
    </div>
</section>