<section id="step-privacy" class="step-privacy hidden">
    <!-- Paso 3: Visibilidad y configuración -->
    <h2>Visibilidad y Configuración</h2>
    <div class="input-group">
        <label for="visibilidad">Selector de Visibilidad</label>
        <select id="visibilidad">
            <option value="publico">Público</option>
            <option value="privado">Privado</option>
            <option value="enlace">Solo con Enlace</option>
        </select>
    </div>
    <div class="switch">
        <input type="checkbox" id="comentarios">
        <label for="comentarios">Permitir Comentarios</label>
    </div>
    <div class="switch">
        <input type="checkbox" id="descargas">
        <label for="descargas">Permitir Descargas</label>
    </div>
    <div class="switch">
        <input type="checkbox" id="listas">
        <label for="listas">Incluir en Listas/Categorías</label>
    </div>
    <div class="button-bellow">
        <button id="back-btn" class="button">Volver</button>
        <button id="next-btn" class="button">Siguiente</button>
    </div>
</section>