
<aside class="sidebar-main">
  <div class="sidebar-above">
    <a href="/c_index.html" class="sidebar-item">
      <img src="/assets/icons/collection.svg" alt="Pagina principal" class="Icono pagina principal" />
      <span>Página principal</span>
      <span></span>
      <span></span>
      <span></span>
      <span><img src="/assets/icons/chevron-right.svg" alt="Biblioteca" class="Icono chevron right" /></span>
    </a>

    <a href="/pages/c_pistas.html" class="sidebar-item">
      <img src="/assets/icons/liked.svg" alt="Me gusta" class="Icono me gusta" />
      <span>Me gusta</span>
      <span></span>
      <span></span>
      <span></span>
      <span><img src="/assets/icons/chevron-right.svg" alt="Biblioteca" class="Icono chevron right" /></span>
    </a>

    <a href="/pages/c_listas.html" class="sidebar-item">
      <img src="/assets/icons/following.svg" alt="Siguiendo" class="Icono siguiendo" />
      <span>Siguiendo</span>
      <span></span>
      <span></span>
      <span></span>
      <span><img src="/assets/icons/chevron-right.svg" alt="Biblioteca" class="Icono chevron right" /></span>
    </a>

    <a href="/pages/c_album.html" class="sidebar-item">
      <img src="/assets/icons/history.svg" alt="Historial" class="Icono historial" />
      <span>Historial</span>
      <span></span>
      <span><img src="/assets/icons/chevron-right.svg" alt="Biblioteca" class="Icono chevron right" /></span>
    </a>
  </div>

  <div class="sidebar-bellow">
    <a href="/pages/configuracion.html" class="sidebar-item">
      <img src="/assets/icons/cog.svg" alt="Settings" class="Icono settings" />
      <span>Configuración</span>
    </a>

    <a href="/logout" class="sidebar-item">
      <img src="/assets/icons/logout.svg" alt="Logout" class="Icono logout" />
      <span>Cerrar Sesión</span>
    </a>
  </div>
</aside>