<section class="comment-list hidden">
    <div class="header-list1">
        <h2>2 comentarios</h2>
        <button>
            <span>Ordenar por</span>
            <img src="/assets/img/icons/arrow-down.svg" alt="Arrow down">
        </button>
    </div>
    <div class="comment-input">
        <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="">
        <textarea id="new-comment" placeholder="Escribe un comentario..."></textarea>
        <button id="post-comment">Comentar</button>
    </div>
    <div id="comments-container">
            <p class="no-comments">Ningún comentario aún, ¡sé el primero en comentar!</p>
            <!-- Aquí se insertarán los comentarios -->
            <ul>
                <li>
                    <div class="comentario">
                        <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                        <div class="content-comment">
                            <span class="user">Usuario 1</span>
                            <p>Muy buena canción, me parece que transmite perfectamente el mensaje del cantante, sobre todo
                                la parte que
                                dice "Esto es pa' que te mortifique..."</p>
                            <div class="ask">
                                <button class="respuestas">
                                    <img src="/assets/img/icons/chevron-down.svg" alt="Respuestas">
                                    <span>1 Respuestas</span>
                                </button>
                                <button class="toggle-respuestas">Responder</button>
                            </div>
                        </div>
                        <div class="option-comment">
                            <button class="tree-points">
                                <span>...</span>
                            </button>
                            <button class="like-comment">
                                <img src="/assets/img/icons/icon_fav_dark.svg" alt="Like">
                                <span>
                                    2
                                </span>
                            </button>
                        </div>
        
                        <div class="respuestas-container" style="display: none;">
                            <div class="comentario-respuesta">
                                <div class="usuario">
                                    <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                                    <span>Comentrista 1</span>
                                </div>
                                <p>Verdades más claras jamás dichas.</p>
                                <a class="respuestas" href="#">1 respuestas</a>
                                <button class="toggle-respuestas">Responder</button>
                            </div>
                            <div class="comentario-respuesta">
                                <div class="usuario">
                                    <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                                    <span>SubComentrista 1</span>
                                </div>
                                <p>@Comentrista 1 XD</p>
                                <a class="respuestas" href="#">1 respuestas</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="comentario">
                        <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                        <div class="content-comment">
                            <span class="user">Usuario 1</span>
                            <p>Muy buena canción, me parece que transmite perfectamente el mensaje del cantante, sobre todo
                                la parte que
                                dice "Esto es pa' que te mortifique..."</p>
                            <div class="ask">
                                <a class="respuestas" href="#">
                                    <img src="/assets/img/icons/chevron-down.svg" alt="Respuestas">
                                    <span>1 Respuestas</span>
                                </a>
                                <button class="toggle-respuestas">Responder</button>
                            </div>
                        </div>
                        <div class="option-comment">
                            <button class="tree-points">
                                <span>...</span>
                            </button>
                            <button class="like-comment">
                                <img src="/assets/img/icons/icon_fav_dark.svg" alt="Like">
                                <span>
                                    2
                                </span>
                            </button>
                        </div>
        
                        <div class="respuestas-container" style="display: none;">
                            <div class="comentario-respuesta">
                                <div class="usuario">
                                    <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                                    <span>Comentrista 1</span>
                                </div>
                                <p>Verdades más claras jamás dichas.</p>
                                <a class="respuestas" href="#">1 respuestas</a>
                                <button class="toggle-respuestas">Responder</button>
                            </div>
                            <div class="comentario-respuesta">
                                <div class="usuario">
                                    <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                                    <span>SubComentrista 1</span>
                                </div>
                                <p>@Comentrista 1 XD</p>
                                <a class="respuestas" href="#">1 respuestas</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="comentario">
                        <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                        <div class="content-comment">
                            <span class="user">Usuario 1</span>
                            <p>Muy buena canción, me parece que transmite perfectamente el mensaje del cantante, sobre todo
                                la parte que
                                dice "Esto es pa' que te mortifique..."</p>
                            <div class="ask">
                                <a class="respuestas" href="#">
                                    <img src="/assets/img/icons/chevron-down.svg" alt="Respuestas">
                                    <span>1 Respuestas</span>
                                </a>
                                <button class="toggle-respuestas">Responder</button>
                            </div>
                        </div>
                        <div class="option-comment">
                            <button class="tree-points">
                                <span>...</span>
                            </button>
                            <button class="like-comment">
                                <img src="/assets/img/icons/icon_fav_dark.svg" alt="Like">
                                <span>
                                    2
                                </span>
                            </button>
                        </div>
        
                        <div class="respuestas-container" style="display: none;">
                            <div class="comentario-respuesta">
                                <div class="usuario">
                                    <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                                    <span>Comentrista 1</span>
                                </div>
                                <p>Verdades más claras jamás dichas.</p>
                                <a class="respuestas" href="#">1 respuestas</a>
                                <button class="toggle-respuestas">Responder</button>
                            </div>
                            <div class="comentario-respuesta">
                                <div class="usuario">
                                    <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                                    <span>SubComentrista 1</span>
                                </div>
                                <p>@Comentrista 1 XD</p>
                                <a class="respuestas" href="#">1 respuestas</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="comentario">
                        <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                        <div class="content-comment">
                            <span class="user">Usuario 1</span>
                            <p>Muy buena canción, me parece que transmite perfectamente el mensaje del cantante, sobre todo
                                la parte que
                                dice "Esto es pa' que te mortifique..."</p>
                            <div class="ask">
                                <a class="respuestas" href="#">
                                    <img src="/assets/img/icons/chevron-down.svg" alt="Respuestas">
                                    <span>1 Respuestas</span>
                                </a>
                                <button class="toggle-respuestas">Responder</button>
                            </div>
                        </div>
                        <div class="option-comment">
                            <button class="tree-points">
                                <span>...</span>
                            </button>
                            <button class="like-comment">
                                <img src="/assets/img/icons/icon_fav_dark.svg" alt="Like">
                                <span>
                                    2
                                </span>
                            </button>
                        </div>
        
                        <div class="respuestas-container" style="display: none;">
                            <div class="comentario-respuesta">
                                <div class="usuario">
                                    <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                                    <span>Comentrista 1</span>
                                </div>
                                <p>Verdades más claras jamás dichas.</p>
                                <a class="respuestas" href="#">1 respuestas</a>
                                <button class="toggle-respuestas">Responder</button>
                                
                            </div>
                            <div class="comentario-respuesta">
                                <div class="usuario">
                                    <img class="photo-profile" src="/assets/img/images/user-coment.png" alt="Perfil">
                                    <span>SubComentrista 1</span>
                                </div>
                                <p>@Comentrista 1 XD</p>
                                <a class="respuestas" href="#">1 respuestas</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</section>