<nav class="navbar-main">
  <div class="navbar-left">
    <img src="/assets/img/images/logo-playa.png" alt="PlaYA Logo" class="logo" />
    <a href="/pages/home.html">Inicio</a>
    <a href="/pages/categorias.html">Categorías</a>
    <a href="/pages/biblioteca.html">Biblioteca</a>
    <a href="/pages/comunidades.html">Comunidades</a>
  </div>

  <div class="navbar-center">
    <input type="text" placeholder="Buscar..." class="search-input" />
    <img src="/assets/img/icons/search.png" alt="Buscar" class="search-icon" /> 
  </div>

  <div class="navbar-right">
    <a href="/pages/premium.html" class="premium-link">Premium</a>
    <a href="/pages/upload.html" class="Subir">Subir</a>
    <button id="btnLogout" class="btn logout">Cerrar sesión</button>
    <span class="icon"><img src="/assets/img/icons/boton-noti.png"></span>
    <img src="/assets/img/icons/logo-usuario.png" alt="Perfil" class="avatar" />
    <span class="icon"><img src="/assets/img/icons/icon-config.png"></span>
  </div>
</nav>