<section class="container-playlist hidden">
    <div class="header-list2">
        <h2>se está reproduciendo</h2>
        <h2 class="name-list">Lista de reproducción</h2>
    </div>
    <div class="playlist">
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 1</div>
                <div class="name-artist">N-artista 1</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 2</div>
                <div class="name-artist">N-artista 2</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 3</div>
                <div class="name-artist">N-artista 3</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 4</div>
                <div class="name-artist">N-artista 4</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 5</div>
                <div class="name-artist">N-artista 5</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 6</div>
                <div class="name-artist">N-artista 6</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 7</div>
                <div class="name-artist">N-artista 7</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">
                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 8</div>
                <div class="name-artist">N-artista 8</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 9</div>
                <div class="name-artist">N-artista 9</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 10</div>
                <div class="name-artist">N-artista 10</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 11</div>
                <div class="name-artist">N-artista 11</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 12</div>
                <div class="name-artist">N-artista 12</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 13</div>
                <div class="name-artist">N-artista 13</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 14</div>
                <div class="name-artist">N-artista 14</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 15</div>
                <div class="name-artist">N-artista 15</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">
                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 16</div>
                <div class="name-artist">N-artista 16</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 17</div>
                <div class="name-artist">N-artista 17</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">

                <span>1:23</span>
            </div>
        </div>
        <div class="song">
            <img src="/assets/img/images/portada.png" alt="Portada">
            <div class="info">
                <div class="name-song">N-canción 18</div>
                <div class="name-artist">N-artista 18</div>
            </div>
            <div class="duration">
                <img src="/assets/img/icons/icon_play.svg" alt="icon play">
                <span>1:23</span>
            </div>
        </div>
    </div>
</section>