<aside class="sidebar-main">
  <!-- Parte superior: logo y navegación principal -->
  <div class="sidebar-above">
    <!-- Opción activa -->
    <a href="/pages/c_index.html" class="sidebar-item">
      <img src="/assets/icons/icon_all.svg" alt="Todo" class="icon" />
      <span>Todo</span>
      <span></span>
      <span></span>
      <span></span>
      <span><img src="/assets/icons/chevron-right.svg" alt="Listas" class="icon" /></span>
    </a>

    <a href="/pages/c_pistas.html" class="sidebar-item">
      <img src="/assets/icons/icon_tracks.svg" alt="Pistas" class="icon" />
      <span>Pistas</span>
      <span></span>
      <span></span>
      <span></span>
      <span><img src="/assets/icons/chevron-right.svg" alt="Listas" class="icon" /></span>
    </a>

    <a href="/pages/c_listas.html" class="sidebar-item">
      <img src="/assets/icons/icon_list_black.svg" alt="Listas" class="icon" />
      <span>Listas</span>
      <span></span>
      <span></span>
      <span></span>
      <span><img src="/assets/icons/chevron-right.svg" alt="Listas" class="icon" /></span>
    </a>

    <a href="/pages/c_album.html" class="sidebar-item">
      <img src="/assets/icons/icon_album.svg" alt="Álbumes" class="icon" />
      <span>Álbumes</span>
      <span></span>
      <span><img src="/assets/icons/chevron-right.svg" alt="Listas" class="icon" /></span>
    </a>
  </div>

  <!-- Parte inferior: configuración y cerrar sesión -->
  <div class="sidebar-bellow">
    <a href="/pages/configuracion.html" class="sidebar-item">
      <img src="/assets/icons/icon_config.svg" alt="Configuración" class="icon" />
      <span>Configuración</span>
    </a>

    <a href="javascript:void(0)" id="btnLogout" class="sidebar-item">
      <img src="/assets/icons/logout.svg" alt="Cerrar sesión" class="icon" />
      <span>Cerrar Sesión</span>
    </a>
  </div>
</aside>