<aside class="flex flex-col justify-between w-49 border-r border-gray-300 py-6 px-4 text-gray-700 text-sm select-none">
    <button id="toggle-sidebar" class="flex items-center space-x-2 mb-4 hover:text-gray-900">
        <svg class="toggle-icon" width="15" height="15" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M19 6.19046e-06L19.1025 0.00488895C19.6067 0.0562204 20 0.482329 20 1.00001C20 1.51768 19.6067 1.94379 19.1025 1.99512L19 2.00001L1 2.00001C0.447716 2.00002 7.40875e-07 1.5523 4.7728e-07 1.00002C2.13686e-07 0.44773 0.447715 1.50451e-05 1 1.47815e-05L19 6.19046e-06Z"
                fill="#545F71" />
            <path
                d="M19 8.00001C19.5523 8.00001 20 8.44773 20 9.00001C20 9.5523 19.5523 10 19 10L1 10C0.447715 10 1.35705e-07 9.5523 8.74228e-08 9.00002C3.91405e-08 8.44773 0.447715 8.00002 1 8.00002L19 8.00001Z"
                fill="#545F71" />
            <path
                d="M19 16C19.5523 16 20 16.4477 20 17C20 17.5523 19.5523 18 19 18L1 18C0.447715 18 1.35705e-07 17.5523 8.74228e-08 17C3.91405e-08 16.4477 0.447715 16 1 16L19 16Z"
                fill="#545F71" />
        </svg>
    </button>
    <div class="sections flex flex-col justify-between flex-1 h-full">
        <div class="section-1 flex flex-col flex-grow space-y-4">
            <a class="flex items-center justify-between w-full hover:text-gray-900" style="padding: 0.75rem 1rem;">
                <div class="flex items-center space-x-2">
                    <img src="/assets/img/icons/icon_all.svg" alt="Todos">
                    <span>Todos</span>
                </div>
                <img class="arrow-left" src="/assets/img/icons/chevron-right.svg" alt="Chevron">
            </a>
            <a class="flex items-center justify-between w-full hover:text-gray-900" style="padding: 0.75rem 1rem;">
                <div class="flex items-center space-x-2">
                    <img src="/assets/img/icons/icon_tracks.svg" alt="Pistas">
                    <span>Pistas</span>
                </div>
                <img class="arrow-left" src="/assets/img/icons/chevron-right.svg" alt="Chevron">
            </a>
            <a class="flex items-center justify-between w-full hover:text-gray-900" style="padding: 0.75rem 1rem;">
                <div class="flex items-center space-x-2">
                    <img src="/assets/img/icons/icon_list_black.svg" alt="Listas">                        
                    <span>Listas</span>
                </div>
                <img class="arrow-left" src="/assets/img/icons/chevron-right.svg" alt="Chevron">
            </a>
            <a class="flex items-center justify-between w-full hover:text-gray-900" style="padding: 0.75rem 1rem;">
                <div class="flex items-center space-x-2">                            
                    <img src="/assets/img/icons/icon_album.svg" alt="Albumes">
                    <span>Álbumes</span>
                </div>
                <img class="arrow-left" src="/assets/img/icons/chevron-right.svg" alt="Chevron">
            </a>
        </div>
        <div class="section-2 flex flex-col text-xs">
            <a class="flex items-center justify-between w-full hover:text-gray-900" style="padding: 0.75rem 1rem;">
                    <div class="flex items-center space-x-2">
                        <img src="/assets/img/icons/icon_config.svg" alt="Configuración">
                        <span>Configuración</span>
                    </div>

                    <img class="arrow-left" src="/assets/img/icons/chevron-right.svg" alt="Chevron">
            </a>
                
            <a class="flex items-center justify-between w-full hover:text-gray-900" style="padding: 0.75rem 1rem;">
                    <div class="flex items-center space-x-2">
                        <img src="/assets/img/icons/logout.svg" alt="Cerrar Sesión">
                        <span>Cerrar Sesión</span>
                    </div>
                    <img class="arrow-left" src="/assets/img/icons/chevron-right.svg" alt="Chevron">
                </a>
        </div>
    </div>
</aside>