<section id="step-select" class="step-select hidden">
    <header>
        <h1>
            <img src="/assets/img/images/playita.png" alt="PlaYA! Logo">
            <span>Subir</span>
        </h1>
        <button id="close-btn" class="close"><img src="/assets/img/icons/close.svg" alt="Close"></button>
    </header>
    <div class="progress">
        <img src="/assets/img/images/cloud-upload.png" alt="Pocent Subida">
        <span>0% de subidas usado</span>
        <div class="progress-bar">
            <div class="progress-fill" style="width: 0%;"></div>
        </div>
        <span>0 de 20 canciones</span>
        <button class="btn-improve">Mejorar</button>
    </div>


    <h2>Sube tus archivos de audio</h2>
    <p>Para obtener la mejor calidad, utiliza WAV, FLAC, AIFF o ALAC. El tamaño máximo del archivo es de 6 GB sin
        comprimir.
    </p>
    <div class="drop-area">
        <img src="/assets/img/images/cloud-upload2.png" alt="Subida">
        <p>Arrastra y suelta archivos de audio para empezar</p>
        <label class="btn-choose">
            <input type="file" id="fileInput" accept=".mp3, .wav, .flac, .aiff, .alac" multiple>
            <span>Elegir archivos</span>
        </label>
    </div>
    <div class="disclaimer">
        <p>Al enviar tus vídeos a PlaYa!, confirmas que aceptas los <a href="#" style="color: #4285f4;">Términos del Servicio</a> y las <a href="#" style="color: #4285f4;">Normas de la Comunidad</a> de PlaYa!.
        
        Asegúrate de no infringir los derechos de autor ni de privacidad de otros usuarios. <a href="#" style="color: #4285f4;">Más información</a></p>
    </div>
    <div class="buttom-bellow">
        <button id="canceled-btn" class="button">Cancelar</button>
        <button id="next-btn" class="button">Continuar</button>
    </div>
</section>
