<section id="step-review" class="step-review hidden">
    <!-- Paso 4: Revisión final -->
    <header>
        <h1>
            <img src="/assets/img/images/playita.png" alt="logo">
            <span>
                Resumen
            </span>    
        </h1>
        <button id="close-btn" class="close"><img src="/assets/icons/close.svg" alt="Close"></button>
    </header>
    <div class="step-details-flex">
        <div class="step-details-content">
            <div class="card">
                <h3>Resumen</h3>
            
                <p><strong>Nombre del Archivo:</strong> archivo.mp3</p>
                <p><strong>Título:</strong> <span id="titulo-preview">Título</span></p>
                <p><strong>Artista:</strong> <span id="artista-preview">Artista</span></p>
                <p><strong>Duración:</strong> 3:45</p>
                <p><strong>Género:</strong> <span id="genero-preview">Género</span></p>
            </div>
            
            <div class="card">
                <input type="range">
                <section class="controls">
                    <button><img src="/assets/icons/previus-song-icon.svg" alt="Previus song"></button>
                    <button><img src="/assets/icons/icon_play_tracks.svg" alt="Play"></button>
                    <button><img src="/assets/icons/next-song-icon.svg" alt="Next song"></button>
                </section>
            </div>
            <div class="card">
                <h3>Programado</h3>
                <p><strong>Fecha:</strong> 24/06/2025</p>
                <p><strong>Comentarios</strong> <span id="comment-preview">Todos</span></p>
                <p><strong>Visibilidad:</strong> <span id="visibility-preview"> Privado</span></p>
                <p><strong>Incluir Listas:</strong> ON</p>
            </div>
        </div>
        <img class="wall" id="cover-preview" src="/assets/img/images/portada.png" alt="Portada" >
    </div>
    <div class="buttom-bellow">
        <button id="back-btn" class="button">Editar Información</button>
        <button id="next-btn" class="button">Subir Ahora</button>
    </div>
</section>