* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: #05255a;
    background-color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.search-form {
    position: relative;
    width: 300px;
}

.search-form input[type="search"] {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 0.85rem;
    color: #777;
    transition: border-color 0.3s ease;
}

.search-form input[type="search"]::placeholder {
    color: #aaa;
}

.search-form input[type="search"]:focus {
    outline: none;
    border-color: #0a6e99;
    color: #05255a;
}

.search-form button {
    position: absolute;
    right: 6px;
    top: 55%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: #0a6e99;
    padding: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4rem;
}

.hero-text h1 {
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color:#034078;
}

.hero-text p {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    color:#001F54;
}

.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700; 
}

p, span, a, li, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
}

.hero-image img {
    width: 720px;
    height: 734px;
    flex-shrink: 0;
}

.img-logo img {
    width: 150px;
    height: auto;
}

.btn {
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease;
  text-decoration: none;
}


.hero-buttons .btn.primary,
.auth-buttons .btn.signup, .btn.about {
  background-color: #0a6e99;
  color: white;
}

.hero-buttons .btn.secondary,
.auth-buttons .btn.login {
  background-color: white;
  border: 1px solid #ccc;
  color: #333;
}


.btn.primary:hover,
.auth-buttons .btn.signup:hover, .btn.about:hover {
  background-color: #084f6a;
}

.btn.secondary:hover,
.auth-buttons .btn.login:hover {
  background-color: #f0f0f0;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem; 
}

.about-content h1 {
    font-weight: 800;
    font-size: 4rem;
    line-height: 1.2;
    margin-top: 0.25rem;
}

.about-content p {
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.4px;
    margin: auto;
    max-width: 600px;
}

.btn.about {
    text-decoration: none;
    margin-top: 1rem;
}

.section {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 3rem; 
  padding: 4rem 2rem;
  width: 100%;
}

.separator {
  width: 1px; 
  background-color: #00477D; 
  min-height: 100%; 
  align-self: stretch; 
}

.column {
  text-align: left;
  max-width: 450px;
  margin-bottom: 2rem;
}

.column h2 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: #00477D;
}

.column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  margin: 0.75rem 0;
  font-size: 1rem;
  color: #333;
}

.column img {
  width: 319px;
  height: 286px;
  margin-top: 1rem;
  vertical-align: middle;
}

/* PARA SUBIR.HTML */

.subir-container{
  text-align: center;
  padding: 15rem;
}

.subir-main-text h2{
  font-family: Raleway;
  font-size: 48px;
  font-weight: 800;
  color: #0A1128;
  margin-bottom: 0.5rem;
  text-align: center;
  padding: 0rem 0rem 2rem 0rem;
}

.subir-main-text p{
  font-family: Raleway;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  letter-spacing: -2%;
  text-align: center;
  padding: 0rem 0rem 2rem 0rem;
}

.subir-btn-container a {
  display:flex;
  margin-top: 2rem;
}

.subir-btn.primary.fixed-visible {
  background-color: #034078;
  color: white;
  padding: 0.8rem 1.8rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  font-family: Montserrat;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
}

.subir-btn.primary.fixed-visible:hover {
  background-color: #06325a;
}

.search-form-subir {
    position: relative;
    width: 550px;
}

.search-form-subir input[type="search"] {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 0.85rem;
    color: #777;
    transition: border-color 0.3s ease;
}

.search-form-subir input[type="search"]::placeholder {
    color: #aaa;
}

.search-form-subir input[type="search"]:focus {
    outline: none;
    border-color: #0a6e99;
    color: #05255a;
}

.search-form-subir button {
    position: absolute;
    right: 6px;
    top: 55%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: #0a6e99;
    padding: 0;
}