<nav class="navbar-main">
  <div class="navbar-left">
    <img src="/assets/img/playa logo 1.png" alt="PlaYA Logo" class="logo" />
    <a href="/pages/home.html">Inicio</a>
    <a href="/pages/categorias.html">Categorías</a>
    <a href="/pages/biblioteca.html">Biblioteca</a>
    <a href="/pages/comunidades.html">Comunidades</a>
  </div>

  <div class="navbar-center">
    <input type="text" placeholder="Buscar..." class="search-input" />
    <img src="/assets/icons/search_icon.svg" alt="Buscar" class="search-icon" /> 
  </div>

  <div class="navbar-right">
    <a href="#" class="premium-link">Premium</a>
    <a href="#">Subir</a>
    <span class="icon"><img src="/assets/icons/icon_noti.svg"></span>
    <img src="/assets/icons/user_icon.png" alt="Perfil" class="avatar" />
    <span class="icon"><img src="/assets/icons/icon_config.svg"></span>
  </div>
</nav>